@import "tailwindcss"; /* Panggilan utama Tailwind v4 */

/* Impor font Outfit sesuai laporan praktikum halaman 2 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&display=swap');

:root {
  /* Variabel Warna Sesuai Laporan Halaman 2 */
  --s1-primary: #DEE33E;    /* Lime Volt */
  --s2-secondary: #9FA324;  /* Olive Green */
  --s3-neutral-dark: #000000; /* Black */
  --s4-neutral-light: #FFFFFF; /* White */
}

body {
  font-family: 'Outfit', sans-serif; /* Sesuai Laporan */
  margin: 0;
  background-color: #F8F9FA; /* Warna background dashboard Figma */
  color: var(--s3-neutral-dark);
}

/* Typography Scale Heading 1 */
h1 {
  font-size: 27px; /* Sesuai Laporan */
  font-weight: 600; /* SemiBold */
  line-height: normal;
}